<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
    <form method="post" action="/write">
        <input type="text" name="subject" placeholder="제목"/> <input type="submit" value="V"/><a>X</a><br/>
        <textarea name="content" placeholder="내용"></textarea>
    </form>

</body>
</html>